.card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 40vmax;
    border-radius: 10px;
    background-color: azure;
}
.pic{
    width: 40vmax;

}
.pic img{
    width: 100%;
    border-radius: 10px;
}
.name, .price{
    font-size: 1.4rem;
    padding: 0.3rem;
}
