.service{
  text-align: center;
  margin-top: 3rem;
}

.title{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 4rem;
}
.layout{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem;
}
